baseURL       = "https://theotowngarage.com/"
title         = "The O'Town Garage"
defaultContentLanguage = 'en'
summarylength = 25
enableEmoji   = true
# Merge sub configs
_merge = "deep"
enableRobotsTXT = "true"

# Site Params
#   Notes: it seems that, if you need to change 1 value in the params for a language,
#          then you have to define all the values in the [params.X], including 
#          sub trees like [params.X.Y] - As well as the other way around. If 
#          modifying [params.X.Y], then you have to copy all of [params.X]
[params]
  logo = "/images/logo.svg"
  dateFormat = "26 FEB 1994"
  # Meta data
  description = ""
  author = "Axel Soll"
  # Google Analytics
  googleAnalyticsID = "AW-17544583777"
  # We're using formspree.io for form handling, paste your formspree url below
  formspreeFormUrl  = "https://formspree.io/abcdefgh"

  [params.backend]
    url   = "localhost"
    port  = 4242

  # Banner Section
  [params.banner]
    logo                  = "images/logo.svg"
    down_arrow            = "images/arrow-down.svg"
  [params.banner_txt]
    primary_button        = "Become a member"
    primary_button_url    = "#memberships"

  [params.events]
    datefmt   = "Monday, Dec 3"
    title     = "Events"
    subtitle  = "Crafting experiences and character."

  [params.calendar]
    title               = "Calendar"
    subtitle            = "Come see what we do"
    ics                 = "https://calendar.google.com/calendar/ical/info%40theotowngarage.com/public/basic.ics"
    # ics                 = "http://theotowngarage.com/?plugin=all-in-one-event-calendar&controller=ai1ec_exporter_controller&action=export_events&no_html=true"
  [params.call_to_action]
    background_image    = "images/backgrounds/cta-background.jpg"
    title               = "JOIN US!"
    primary_button      = "Submit Query"
    primary_button_url  = "contact"
  [params.footer]
    # Footer Contact Info
    [params.footer.contactInfo]
      title   = "Contact Info"
      address = "Havnegade 57,<br>5000 Odense"
      phone   = "+45 81 91 19 26"
      email   = "info@theotowngarage.com"
    # Footer Social Media
    [params.footer.social]
      title   = "Social Media"
      facebook  = "https://www.facebook.com/theotowngarage/"
      instagram  = "https://www.instagram.com/theotowngarage/?hl=da"
      linkedin  = "https://www.linkedin.com/company/the-o-town-garage/"
      github  = "https://github.com/theotowngarage-com/otg-website/"
      youtube = "https://www.youtube.com/channel/UCeKOtrPHlkVqkN1MYEZWZcQ"
    # Footer Service
    [params.footer.service]
      title       = "Open House"
      time        = "Thursdays 17.00 - 19.00"
      description = "Members have 24h access to the space"
    [params.footer.copyright]
      holder = "The O'Town Garage"
      date = "2025"

[build]
  # writestats tells Hugo to write a hugo_stats.json file to the project root as part of the build.
  # It includes all tags, classes, and ids from your *.html templates.
  # See https://purgecss.com/guides/hugo.html
  writeStats = true

[sitemap]
  # SEO feature to tell the search engines the layout of the site
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.8
