{{ define "main" }}
<section class="section-login">
	<div class="bg-paint">
		<div class="container section-pad">
			{{ .Content }}
		</div>
	</div>
	<div class="container ">
		<form name="login" action="{{ .Permalink }}" method="POST">
			<div class="form-group">
				<label for="email"><i class="fa fa-envelope fa-fw"></i></label>
				<input type="email" name="email" required
					placeholder="Email">
			</div>
			<div class="form-group">
				<label for="password"><i class="fa fa-lock fa-fw"></i></label>
				<input type="password" name="password" required placeholder="Password">
			</div>
			<button class="btn" type="submit" onclick="validate(event);">Log in</button>
		</form>
	</div>
</section>

<script>
	function validate(event) {
	}
</script>

{{ end }}