<html>
  <head><title>OTG - A new password was generated!</title></head>
  <style>
    body {
      text-align: center;
      margin-top: 100px;
    }
  </style>
  <body>
    <h1>A new password was generated!</h1>
    <p>
      We've sent further instructions to the email you provided (assuming the email address was correct).
    </p>
    <p>
        Go to <a href="https://members.theotowngarage.com">members.theotowngarage.com</a>.
      </p>
    <p>
      <a href="mailto:info@theotowngarage.com">Email us if you have any questions</a>.
    </p>
  </body>
</html>