<html>
  <head><title>OTG - Your password was successfully changed!</title></head>
  <style>
    body {
      text-align: center;
      margin-top: 100px;
    }
  </style>
  <body>
    <h1>Your password was successfully changed!</h1>
    <p>
      And we have sent it to your email addess.
    </p>
    <p>
        Go to <a href="https://theotowngarage.com">theotowngarage.com</a>.
    </p>
    <p>
      <a href="mailto:info@theotowngarage.com">Email us if you have any questions</a>.
    </p>
  </body>
</html>