<html>
  <head><title>OTG - Thanks for your order!</title></head>
  <style>
    body {
      text-align: center;
      margin-top: 100px;
    }
  </style>
  <body>
    <h1>Thank you, your checkout was successful!</h1>
    <p>
      We have sent all the details on your next steps to your email (if this is your first purchase at OTG).
    </p>
    <p>
      Go to <a href="https://members.theotowngarage.com">members.theotowngarage.com</a>.
    </p>
    <p>
      If you have any questions, please write us at:
      <a href="mailto:info@theotowngarage.com">info@theotowngarage.com</a>.
    </p>
  </body>
</html>