{{ define "main" }}

{{/* with .Site.Params.workspace */}}
<section class="site-workspace">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ .Params.heading }}</h2>
        </div>
        <div class="site-workspace-wrapper">
          {{ range where (where .Site.RegularPages "Type" "workspace") "File.Dir" "workspace/" }}
          {{ range .Pages.ByWeight }}
          <div class="site-workspace-item">
              <a href="#{{ .Params.id }}">
                {{ with .Params.logo }}
                  {{ if strings.HasSuffix . "svg" }}
                    <!-- Inject the SVG element, repeat from navbar -->
                    {{ path.Join "workspace" . | readFile | safeHTML }}
                  {{ else }}
                    <img src="{{ path.Join "workspace" . | absURL }}" alt="logo">
                  {{ end }}
                {{ end }}
                <h4>{{ .Params.heading }}</h4>
              </a>
            </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="site-workspace-content">
  {{ range .Pages.ByWeight }}
  <div
  class="site-workspace-content-section"
  {{ $image := .Resources.GetMatch "background_image" }}
  {{ $image := $image.Resize "1200x webp q90" }}
  {{ with $image }}
    {{ $bg_link := (printf "style=\"background-image: url('%s')\"" .Permalink) }}
    {{ $bg_link | safeHTMLAttr }}
  {{ end }}
  >
    <a class="nav-anchor" name="{{ .Params.id }}"></a>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="site-workspace-content-wrapper">
            <h2>{{ .Params.heading }}</h2>
            {{ .Summary }}
          </div>
          <a type="button"  href="{{ .Permalink }}" class="read-more btn btn-light btn-sm-rounded">
            <span class="btn-area"><span data-text="View more">View more</span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>

{{/* partial "events.html" . */}}

{{ partial "call-to-action.html" . }}

{{ end }}
