.btn{
  font-family: $primary-font;
  font-size: 18px;
  color: $white;
  border: none;
  padding: 14px 24px;
  background-color: $accent-color;
  border-radius: 8px;
  &:focus{
    box-shadow: none;
  }
  &:hover{
    // Add style when hovering
    background-color: $accent-color-2;
    color: $white;
  }
  &:visited{
    // Add style for when the link was already visited
    background-color: $secondary-color-2;
  }
  &.inactive {
    background-color: $primary-color-2;
  }
  @include desktop{
    // only applies in desktop window size
    padding: 17px 40px;
  }

}

