html{
  scroll-behavior: smooth;
}

body {
  background: $body-color;
}

.nav-anchor {
  // Needs to be placed inside an element with { position: relative; }
  position: absolute;
  left: 0px;
  top: -$navbar-padding; /* given the fixed header is 50px tall, and you want 15px padding */
  @include desktop{
    top: calc(-$navbar-padding - 22px);
  }
  @include desktop{
    top: -$navbar-padding;
  }
}

.accent-text {
  color: $accent-color;
}

.accent-text-light {
  color: $white;
}

.accent-text-dark {
  color: $secondary-color;
}

.accent-text-black {
  color: $black;
}

.bg-paint {
  background-color: $primary-color;
}

.bg-white {
  background-color: $white;
}

.desktop-only {
  @include desktop{
    display: none!important;
  }
}

.mobile-only {
  @media(min-width:991px){
    display: none!important;
  }
}

.centered {
  width: fit-content;
  margin-left: auto!important;
  margin-right: auto!important;
}

.mobile-centered {
  @include desktop{
    width: fit-content;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

.section-pad {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
  @include desktop {
    padding-top: $section-padding-mobile-top;
    padding-bottom: $section-padding-mobile-bottom;
  }
}

a {
  color: $accent-color;
}

a:focus{
  box-shadow: none;
}

a:hover{
  // Add style when hovering
  color: $accent-color-2;
}

a:visited{
  // Add style for when the link was already visited
  color: $secondary-color-2;
  &:hover {
    color: $accent-color-2;
  }
}

a.inactive {
  color: $primary-color-2;
}

// Adds a tint from the secondary color + gradient
.img-tint {
  &::after {
    position: absolute;
    display: block;
    mix-blend-mode: color;
    background: $secondary-color;
    content: '';
    width: 100%;
    height: 100%;
  }
}

.img-gradient {
  &::before { // gradient
      z-index: -1; 
  }
  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(rgba(#d9d9d9, 0), rgba(#1e1e1e, 0.8));
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.img-tint, .img-gradient {
  background-size: cover;
  background-position: center center;
  isolation: isolate;
  position: relative;
  display: flex;
  text-decoration: none;
  & > p, .catchphrase, h1, h1, h3, h4, h5, h6 {
    z-index: 4; // get on top of the color filter
    color: $white;
  }
}

.hover-rm-img-tint:hover {
  &::after {
    display: none;
  }
}

.img-rounded {
  border-radius: $border-radius;
  &::after {
    border-radius: $border-radius;
  }
  &::before {
    border-radius: $border-radius;
  }
}

.flex-row {
  display: flex;
}

.list-decorators-nested {
  ol {
    counter-reset: item;
    list-style-type: none;
  }
  ol>li { 
    counter-increment: item;
  }
  ol>li::before { 
    content: counters(item, '.') ' - '; 
  }
}
