@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap');

body{
  font-family: $primary-font;
}

h1, h2 {
  font-family: $secondary-font;
}

h3, h4, h5, h6, p {
  font-family: $primary-font;
}

h1 {
  color: $secondary-color;
}

h2 {
  color: $text-color-dark;
}

h3 {
  color: $secondary-color;
}

h4, h5, h6, p {
  color: $secondary-color-2;
}

// <p1> in Figma is <p> in css
p {
  font-size: 20px;
  @include desktop {
    font-size: 16px;
  }
}

// <p2> in Figma is <* class="muted"> in css
.p-small{
  font-size: 18px;
  @include desktop {
    font-size: 16px;
  }
}

h1{
  font-size: 64px;
  @include desktop {
    font-size: 40px;
  }
}

h2{
  font-size: 40px;
  @include desktop {
    font-size: 28px;
  }
}

h3{
  font-size: 28px;
  @include desktop {
    font-size: 24px;
  }
}

h4{
  font-size: 24px;
  font-weight: normal;
  @include desktop {
    font-size: 18px;
  }
}

h5{
  font-size: 18px;
  @include desktop {
    font-size: 16px;
  }
}

h6{
  font-size: 16px;
  // @include desktop {
  //   font-size: 16px;
  // }
}

