//site color variables
$body-color: #fff;
$accent-color: #49C1BD;
$accent-color-2: #41A19E;
$primary-color: #EFEEEA;
$primary-color-2: #D9D9D9;
$secondary-color: #435352;
$secondary-color-2: #708D8B;
$text-color: #fff;
$text-color-dark: #222;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Space Grotesk', sans-serif;

$navbar-padding: 80px;
$section-padding: 60px;
$section-padding-mobile: 45px;

$border-radius: 10px;

$link-decoration: white 1px solid underline;

// overrule bootstrap
// creates issues in calendar
:root {
    --bs-link-color-rgb: $text-color-dark;
    --bs-link-hover-color-rgb: $black;
}