.site-bento-workspace{
  
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }


  p {
    font-size: 24px;
    color: $text-color;
    align-self: flex-end;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .bento-bg:hover {
    &::before {
      mix-blend-mode: none;
      background: none;
    }
    &::after {
      background: none;
    }
  }


  .grid {
    display: grid;
    @include tablet{
      display: none;
    }
    height: 662px;
    width: 1478px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: $default-grid-gap;
    padding: 24px 0;
    border-radius: $border-radius;
    
    .bg-white {
      border-radius: $border-radius;
      padding: 40px;
      position: relative;
      .btn {
        // float: right;
        position: absolute;
        bottom: 30px;
        right: 30px;
        // Trying to use these to make a rounded contour around the button
        // clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 85% 85%, 85% 100%, 0% 100%);
        // inset: 0% 45% 0% 45% round 30px;
        // clip-path: inset(45px 50px 15px 0 round 50px);
      }
      // .inset-btn {
  
      //   inset: calc(anchor(100%) - 10px) anchor(self-start) auto auto;
  
      // }
    }
    .bento-text1 {
      // display: flex;
      // border-radius: $border-radius;
      // width: 100%;
      // height: 100%;
      h2 {
        color: $secondary-color-2;
      }
      p {
        color: $secondary-color;
      }
    }
  }


  .mobile {
    display: none;
    @include tablet{
      display: flex;
    }
    padding: 30px 20px;
    flex-direction: column;
    width: 100%;

    .bento-btn-mobile {
      background-color: $white;
      border-radius: $border-radius;
      margin-bottom: $default-grid-gap;
      padding: 16px 22px;
      display: flex;
      flex-direction: row;
      p {
        font-size: 18px;
        color: $secondary-color-2;
        margin: auto 0px;
      }
      &::after {
        content: url(/images/icons/arrow-right.svg);
        margin: auto 0 auto auto;
        align-self: flex-end;
        // for some reason fit-content does not work...
        height: 24px; 
      }
    }
    .bento-text1 {
      margin-bottom: $default-grid-gap;
      height: 125px;
      .catchphrase {
        display: flex;
        flex-direction: column;
        margin: auto;
        h2 {
          // display: inline;
          position: relative;
          align-self: flex-end;
          // margin: 0 auto;
          font-size: 25px;
          filter: drop-shadow(0 4px 4px rgba(0,0,0, 45 ));
        }
      }
    }
  }
}
