.site-bento-workspace{
  background-color: $primary-color;
  
  .container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1478px;
    flex-wrap: wrap;
  }
  
  .grid { 
    
    display: grid;
    height: 662px;
    width: 1478px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 16px;
    padding: 24px 0;
    border-radius: 8px;
    
    .bento-bg-img {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }
    & > div {
      background-size: cover;
      background-position: center center;
      isolation: isolate;
      z-index: 1;
      position: relative;
      border-radius: $border-radius;
      display: flex;
    }

    p {
      font-family:'Roboto';
      font-size: 24px;
      color: $text-color;
      align-self: flex-end;
      margin-left: 8px;
      margin-bottom: 8px;
    }
    .bento-text1 {
      h2 {
        color: $secondary-color;
      }
      p {
        color: $secondary-color;
      }
    }
    .gradient {
      position: absolute;
      background: linear-gradient(rgba(#d9d9d9, 0), rgba(#d9d9d9, 0), rgba(#1e1e1e, 0.8));
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }
    .bento-bg::after {
      mix-blend-mode: color;
      background: $secondary-color;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }
    .bento-bg:hover {
      &::after {
        mix-blend-mode: none;
        background: none;
      }
      .gradient {
        background: none;
      }
    }
  }
}
