// No design guideline on form inputs for now
input {
    border: none;
    // remove border when clicking onto a field
    outline: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
}

form {
    margin-top: 50px;
    .btn {
        margin: 50px 0;
    }
    .form-group {
        margin-top: 20px;
    }
}