.site-footer{
  background: $secondary-color;
  padding: $section-padding 0;

  &-logo{
    margin-bottom: 50px;
    @include desktop{
      text-align: center;
    }
  }
  &-tagline {
    color: $white;
    margin-bottom: 45px;
  }

  &-social {
    padding: 0;
    li{
      display: inline-block;
      &:not(:last-child){
        margin-right: 10px;
      }
      .fa {
        // force accent color on visited elements
        color: $accent-color;
        font-size: 24px;
        width: 24px;
      }
    }
  }

  &-widget{
    @include desktop{
      margin-bottom: 40px;
    }
    @include desktop{
      text-align: center;
    }
    &-title{
      color: $white;
      margin-bottom: 30px;
      @include desktop{
        margin-bottom: 20px;
      }
    }
    &-description{
      color: $white;
      line-height: 30px;
    }
  }
  .lang-list {
    a {
      font-size: 1.5rem;
    }
  }
  .copyright {
    font-size: 14px;
  }
}