.site-footer{
  background: $secondary-color;
  padding: $section-padding 0;

  &-logo{
    margin-bottom: 50px;
    @include tablet{
      text-align: center;
    }
  }
  &-tagline {
    color: $white;
    margin-bottom: 45px;
  }

  &-social {
    padding: 0;
    color: $accent-color;
    li{
      display: inline-block;
      &:not(:last-child){
        margin-right: 10px;
      }
      .fa {
        font-size: 24px;
        width: 24px;
      }
    }
  }

  &-widget{
    @include desktop{
      margin-bottom: 40px;
    }
    @include tablet{
      text-align: center;
    }
    &-title{
      color: $white;
      margin-bottom: 30px;
      @include desktop{
        margin-bottom: 20px;
      }
    }
    &-description{
      color: $white;
      line-height: 30px;
    }
    &-links{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        a{
          color: $white;
          transition: all 0.3s $site-ease;
          display: block;
          text-decoration: none;
        }
        a:hover {
          text-decoration: $link-decoration;
        }
        &:not(:last-child){
          a{
            padding-bottom: 9px;
          }
        }
      }
    }
  }
  .lang-list {
    a {
      font-size: 1.5rem;
    }
  }
  .copyright {
    font-size: 14px;
  }
}