.site-memberships{
  .section-title {
    margin: 0 auto 60px auto;
    width: fit-content;
  }
  .price-table {
    background: $white;
    padding: 48px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &-currency, &-price{
      font-size: 36px;
      font-weight: 600;
    }
    &-period {
      font-size: 16px;
    }
    &-features-list {
      color: $secondary-color-2;
      li + li {
        margin-top: 12px;
      }
      margin: 0;
    }
    .btn {
      width: 100%;
    }

    @include tablet{
      // only applies in desktop window size
      &-currency, &-price{
        font-size: 30px;
      }
      &-period {
        font-size: 14px;
      }
    }
  }

  &-options {
    display: flex;
    flex-direction: row;
    gap: 82px;
    justify-content: center;
    @include tablet {
      flex-direction: column;
    }

  }


}