.site-team{
  padding: 100px 0;
  background-color: $primary-color;

  &-member{
    padding: 30px 30px 30px;
    margin: 30px 0 0px;
    &-image{
      object-fit: cover;
      width: 216px; height: 216px;
      border-radius: $border-radius;
    }
    &-content{
      h4{
        color: $secondary-color;
        margin-top: 27px;
        margin-bottom: 10px;
      }
      h6{
        color: $text-color-dark;
        margin-bottom: 20px;
      }
    }
    &-social{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        a{
          color: $text-color-dark;
        }
        &:not(:last-child){
          margin-right: 10px;
        }
      }
    }
  }
}