.section-workspace {
    .section-pad >.flex-row {
        justify-content: space-around;
        align-items: center;
        @include desktop-lg {
            flex-wrap: wrap;
        }
        column-gap: 50px;
    }
    .description {
        padding: 0 29px;
        flex-basis: 40%;
        @include not-desktop-lg {
            flex-basis: 45%;
        }
        flex-grow: 1;
    }
    .description-invitation {
        flex-grow: 1;
    }

    .description-2 {
        background-color: $primary-color;
        display: flex;
        .container {
            margin: auto 0;
            .content {
                padding: 0 50px;
            }
        }
        @include desktop {
            flex-direction: column;
            .content {
                margin: 57px 0;
                padding: inherit;
            }
        }
    }
    .description-img {
        min-width: 50%;
        height:fit-content;
        width:100%;
    }

    .workspace-other {
        display: flex;
        flex-direction: row;
        gap: 36px;
        &-section {
            padding: 0;
            height: 377px;
            width: 250px;
            display: flex;
            flex-direction: column-reverse;
            p {
                padding-left: 20px;
            }
        }
        @include desktop {
            flex-direction: column;
            &-section {
                height: 285px;
                width: 100%;
            }
        }
    }
}