<section class="site-bento-workspace bg-paint">
  <div class="container">
    <!-- Desktop version : Bento -->
    <div class="grid">
      {{ with "images/bento/3d-print.png" }}
      <a href="{{ absURL "/workspace/3dprint/" }}"
        style="grid-column: span 2; grid-row: span 5; background-image: url({{ absURL . }});"
        class="bento-bg"
      >
        <div class="gradient"></div>
        <p style="bottom: 0">3D Print</p>
      </a>
      {{ end }}
      {{ with "images/bento/Laser-cutter.png" }}
      <a href="{{ absURL "/workspace/laser/"}}"
        class="bento-bg"
        style="grid-column: span 5; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="bottom: 0">CnC router and Laser cutter</p>
      </a>
      {{ end }}

      {{ with "images/bento/sewing.png" }}
      <a href="{{ absURL "/workspace/sewing/"}}"
        class="bento-bg"
        style="grid-column: span 3; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="bottom: 0">Sewing</p>
      </a>
      {{ end }}

      <div style="grid-column: span 8; grid-row: span 5;" class="bg-white">
        <div class="bento-text1" style="">
          <h2>Your very own Makerspace</h2>
          <p>Explore our space, tools and workshops</p>
        </div>
        {{ with .Site.Params.banner_txt }}
        <a class="btn btn-sm btn-primary btn-sm-rounded" href="{{ absURL .primary_button_url }}">
          {{ .primary_button }}
        </a>
        {{ end }}
      </div>

      {{ with "images/bento/woodworking.png" }}
      <a href="{{ absURL "/workspace/woodwork/"}}"
        class="bento-bg"
        style="grid-column: span 2; grid-row: span 6; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="bottom: 0">Wood Work</p>
      </a>
      {{ end }}

      {{ with "images/bento/weld.png" }}
      <a href="{{ absURL "/workspace/metal/"}}"
        class="bento-bg"
        style="grid-column: span 3; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="bottom: 0">Metal Work</p>
      </a>
      {{ end }}

      {{ with "images/bento/solder.png" }}
      <a href="{{ absURL "/workspace/electronics/"}}"
        class="bento-bg"
        style="grid-column: span 5; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="bottom: 0">Electronics</p>
      </a>
      {{ end }}
    </div>
    <!-- Mobile version : Listing -->
    <div class="col-md-12 col-sm-12 mobile">
      <a href="{{ absURL "/workspace/3dprint/"}}"
        class="btn bento-btn-mobile">
        <p>3D Print</p>
      </a>
      <a href="{{ absURL "/workspace/electronics/"}}"
        class="btn bento-btn-mobile">
        <p>Electronics</p>
      </a>
      {{ with "images/bento/weld.png" }}
      <div class="bento-text1 bento-bg" style="background-image: url({{ absURL . }});">
      {{ end }}
        <div class="gradient"></div>
        <div class="catchphrase">
          <h2 class="accent-text-light">Your very own</h2>
          <h2 class="accent-text">Makerspace</h2>
        </div>
      </div>
      <a href="{{ absURL "/workspace/laser/"}}"
        class="btn bento-btn-mobile">
        <p>CnC router and Laser cutter</p>
      </a>
      <a href="{{ absURL "/workspace/metal/"}}"
        class="btn bento-btn-mobile">
        <p>Metal Work</p>
      </a>
      <a href="{{ absURL "/workspace/woodwork/"}}"
        class="btn bento-btn-mobile">
        <p>Wood Work</p>
      </a>
      <a href="{{ absURL "/workspace/sewing/"}}"
        class="btn bento-btn-mobile">
        <p>Sewing</p>
      </a>
      {{ with .Site.Params.banner_txt }}
      <a class="btn btn-sm btn-primary btn-sm-rounded col-md-12" href="{{ absURL .primary_button_url }}">
        {{ .primary_button }}
      </a>
      {{ end }}
    </div>
  </div>
</section>