<section class="site-hero">
  <div class="container">
    <div class="grid">

      <div class="bento-bg" style="grid-column: span 2; grid-row: span 5; background-image: url(/images/bento/3d-print.png)">
        <div class="gradient"></div>
        <p style="position: absolute; bottom: 0">3D Print</p>
      </div>
      <!--<div style="grid-column: span 2; grid-row: span 5; background-image: url(/images/bento/3d-print.png)">
        <div class="bento-bg-img"><div class="gradient"></div></div>
        <p style="position: absolute; width: 100%; bottom: 0">3D Print</p>
      </div>-->

      <div class="bento-bg" style="grid-column: span 5; grid-row: span 3; background-image: url(/images/bento/Laser-cutter.png)">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">CnC router and Laser cutter</p>
      </div>

      <div class="bento-bg" style="grid-column: span 3; grid-row: span 3; background-image: url(/images/bento/sewing.png);">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Sewing</p>
      </div>

      <div class="bento-text1" style="grid-column: span 8; grid-row: span 5; background: white">
        <h2>Your very own Makerspace</h2>
        <p>Explore our space, tools and workshops</p>
        {{ with .Site.Params.banner_txt }}
          <a class="btn btn-sm btn-primary btn-sm-rounded" href="{{ absURL .primary_button_url }}">
            {{ .primary_button }}
          </a>
        {{ end }}
      </div>

      <div class="bento-bg" style="grid-column: span 2; grid-row: span 6; background-image: url(/images/bento/woodworking.png);">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Wood Work</p>
      </div>

      <div class="bento-bg" style="grid-column: span 3; grid-row: span 3; background-image: url(/images/bento/weld.png);">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Metal Work</p>
      </div>

      <div class="bento-bg" style="grid-column: span 5; grid-row: span 3; background-image: url(/images/bento/solder.png);">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Electronics</p>
      </div>

    </div>
  </div>
  {{ with .Site.Params.banner_txt }}
    <a class="btn btn-sm btn-primary btn-sm-rounded" href="{{ absURL .primary_button_url }}">
      {{ .primary_button }}
    </a>
  {{ end }}
</section>