<section class="site-bento-workspace">
  <div class="container">
    <div class="grid col-md-12">
      {{ with "images/bento/3d-print.png" }}
      <div class="bento-bg" style="grid-column: span 2; grid-row: span 5; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="position: absolute; bottom: 0">3D Print</p>
      </div>
      {{ end }}
      {{ with "images/bento/Laser-cutter.png" }}
      <div class="bento-bg" style="grid-column: span 5; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">CnC router and Laser cutter</p>
      </div>
      {{ end }}

      {{ with "images/bento/sewing.png" }}
      <div class="bento-bg" style="grid-column: span 3; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Sewing</p>
      </div>
      {{ end }}

      <div class="bento-text1" style="grid-column: span 8; grid-row: span 5; background: white">
        <h2>Your very own Makerspace</h2>
        <p>Explore our space, tools and workshops</p>
        {{ with .Site.Params.banner_txt }}
          <a class="btn btn-sm btn-primary btn-sm-rounded" href="{{ absURL .primary_button_url }}">
            {{ .primary_button }}
          </a>
        {{ end }}
      </div>

      {{ with "images/bento/woodworking.png" }}
      <div class="bento-bg" style="grid-column: span 2; grid-row: span 6; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Wood Work</p>
      </div>
      {{ end }}

      {{ with "images/bento/weld.png" }}
      <div class="bento-bg" style="grid-column: span 3; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Metal Work</p>
      </div>
      {{ end }}

      {{ with "images/bento/solder.png" }}
      <div class="bento-bg" style="grid-column: span 5; grid-row: span 3; background-image: url({{ absURL . }});">
        <div class="gradient"></div>
        <p style="position: absolute; width: 100%; bottom: 0">Electronics</p>
      </div>
      {{ end }}

    </div>
    {{ with .Site.Params.banner_txt }}
      <a class="btn btn-sm btn-primary btn-sm-rounded col-md-12" href="{{ absURL .primary_button_url }}">
        {{ .primary_button }}
      </a>
    {{ end }}
  </div>
</section>