{{ with .Site.Data.bento_gallery }}
<section class="site-bento-gallery", id="about">
    <div class="container">
        <div class="grid">
            <div class="text1 grid-2-1"><p>{{ .txt1 | safeHTML }}</p></div>
            {{ with resources.GetMatch .img1 }}
            <div class="img1 grid-1-2"><img src="{{ .Permalink }}"/></div>
            {{ end }}
            {{ with resources.GetMatch .img2 }}
            <div class="img2 grid-2-1"><img src="{{ .Permalink }}"/></div>
            {{ end }}
            {{ with resources.GetMatch .img3 }}
            <div class="img3 grid-2-1"><img src="{{ .Permalink }}"/></div>
            {{ end }}
            <div class="text2 grid-2-1"><p>{{ .txt2 | safeHTML }}</p></div>
            {{ with resources.GetMatch .img4 }}
            <div class="img4 grid-1-2"><img src="{{ .Permalink  }}"/></div>
            {{ end }}
        </div>
    </div>
</section>
{{ end}}