<nav class="navbar navbar-expand-md site-navigation">
  <div class="container container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      {{ if strings.HasSuffix .Site.Params.logo "svg" }}
        <!-- Inject the SVG element -->
        {{ readFile "static/images/logo.svg" | safeHTML }}
      {{ else }}
        <img class="avatar-img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
      {{ end }}
    </a>
    <!-- mobile burger menu -->
    <details class="mobile-only navbar-nav">
      <summary data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <p></p>
      </summary>
      <ul class="navbar-nav">
      {{$menu := (.Site.Menus.nav)}}
      {{$len := (len $menu)}} 
      {{ range $index, $element := $menu }} 
      <li class="nav-item">
        {{ if eq (add $index 1) $len }}
          <a
            class="nav-link btn btn-sm btn-primary btn-sm-rounded"
            href='{{ relURL .URL}}'
          >
            <span class="btn-area">
              <span data-text="{{ .Name }}">
                {{ .Name }}
              </span>
            </span>
          </a>
        {{ else }}
          <a class="nav-link" href='{{ relURL .URL }}'>{{ .Name }}</a>
        {{ end }} 
        <li>
      {{ end }}
      </ul>
    </details>

    <!-- desktop navigation menu -->
      <ul class="desktop-only navbar-nav">
        {{$menu := (.Site.Menus.nav)}}
        {{$len := (len $menu)}} 
        {{ range $index, $element := $menu }} 
        <li class="nav-item">
          {{ if eq (add $index 1) $len }}
            <a
              class="nav-link btn btn-sm btn-primary btn-sm-rounded"
              href='{{ relURL .URL}}'
            >
              <span class="btn-area">
                <span data-text="{{ .Name }}">
                  {{ .Name }}
                </span>
              </span>
            </a>
          {{ else }}
            <a class="nav-link" href='{{ relURL .URL }}'>{{ .Name }}</a>
            {{ end }} 
          </li>
          {{ end }}
      </ul>
  </div>
</nav>

<script>
  // Scrolling will trigger logo animation
  window.addEventListener('scroll', () => {
    document.body.style.setProperty('--scroll', window.scrollY / (document.body.offsetHeight - window.innerHeight));
  }, false);
</script>
{{ if not .Params.no_nav_offset }}
<div class="nav-offset"></div>
{{ end }}