{{ with .Site.Data.partners }}
  <section class="partners bg-paint section-pad">
    <div class="container">
      <h2 class="centered"> {{ .title }} </h2>
      <div class="row">
        {{ range .partners }}
        <div class="col-lg-6 col-sm-12 mx-auto" style="padding-top: 50px">
          <a href="{{ .url }}">
              <img src="{{ .icon | absURL }}" class="centered" style="display:block; max-width:90%; max-height: 111px; width: auto;" alt="{{ .name }}"/>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}