<!-- Desktop navbar -->
<ul class="desktop-only navbar-nav navbar-nav-list">

  <!-- Existing top-level items -->
  {{ range $index, $btn := .Site.Menus.nav }}
      <li class="nav-item">
          <a class="nav-link" href='{{ absURL .URL }}'>{{ .Name }}</a>
      </li>
  {{ end }}
</ul>
<ul class="desktop-only navbar-nav navbar-nav-list navbar-right">
  {{$menu := (.Site.Menus.nav_right)}}
  {{$len := (len $menu)}} 
  {{ range $index, $btn := $menu }} 

    <li class="nav-item">
      {{ if eq (add $index 2) $len }}
        <a class="btn btn-outline nav-link" href='{{ absURL .URL }}'>
          <span class="btn-area">
            <span data-text="{{ .Name }}">
              {{ with .Params.icon }}<i class="fa fa-{{ . }}"></i>{{ end }}
              {{ .Name }}
            </span>
          </span>
        </a>
      {{ else if eq (add $index 1) $len }}
        <a class="btn nav-link" href='{{ absURL .URL }}'>
          <span class="btn-area">
            <span data-text="{{ .Name }}">
              {{ with .Params.icon }}<i class="fa fa-{{ . }}"></i>{{ end }}
              {{ .Name }}
            </span>
          </span>
        </a>
      {{ else }}
        <a class="nav-link" href='{{ absURL .URL }}'>
          {{ with .Params.icon }}<i class="fa fa-{{ . }}"></i>{{ end }}
          {{ .Name }}
        </a>
      {{ end }}
    </li>
  {{ end }}
</ul>
