{{ if .User.Active }}
    <p> See you at the next Open house meetup - Thursdays at 17:00 </p>
    <button class="btn-discrete"  hx-post="http://localhost:4242/cancel-subscription?sub_id={{ .SubID }}"
    hx-trigger="click">Cancel membership</button>
{{ else }}
    <p> You do not seem to have an active subscription :( </p>

    <p><a class="btn btn-warn" href="http://localhost:4242/re-checkout" >Become a member again!</a></p>
{{ end }}

    <p><br/><br/> <a class="btn" href="http://localhost:4242/logout" >Log out</a> </p>
